:root {
  font-family: "Segoe UI", system-ui, -apple-system, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #111;
  background-color: #f0f0f0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f0f0f0;
}

